[package]
name = "lemmy-ui-leptos"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
leptos = "0.6"
leptos_actix = { version = "0.6", optional = true }
leptos_meta = "0.6"
leptos_router = "0.6"
leptos_i18n = "0.2"
leptos_query = "0.4"

serde = { version = "1", features = ["derive"] }
web-sys = { version = "0.3", features = ["AbortController", "AbortSignal"] }
gloo-net = { version = "0.5", features = ["http"] }
cfg-if = "1"
lemmy_api_common = { version = "0.19.3", default-features = false }

serde_urlencoded = "0.7"
thiserror = "1.0"

# dependecies for client (enable when csr or hydrate set)
wasm-bindgen = { version = "0.2", optional = true }
wasm-cookies = "0.2"

# dependecies for server (enable when ssr set)
actix-files = { version = "0.6", optional = true }
actix-web = { version = "4", features = ["macros"], optional = true }
actix-proxy = { version = "0.2", optional = true }
awc = { version = "3.4", optional = true }
async-trait = "0.1"
actix-session = { version = "0.9", features = [
  "cookie-session",
], optional = true }

[package.metadata.leptos-i18n]
default = "en"
locales = ["en", "fr"]

[features]
default = ["ssr"]
hydrate = [
  "leptos/hydrate",
  "leptos_meta/hydrate",
  "leptos_router/hydrate",
  "leptos_i18n/hydrate",
  "leptos_query/hydrate",
]
csr = ["leptos/csr", "leptos_meta/csr", "leptos_router/csr", "leptos_i18n/csr"]
ssr = [
  "leptos/ssr",
  "leptos_i18n/actix",
  "leptos_meta/ssr",
  "leptos_router/ssr",
  "leptos_query/ssr",
  "dep:leptos_actix",
  "dep:actix-web",
  "dep:actix-files",
  "dep:actix-proxy",
  "dep:awc",
  "dep:actix-session",
]
bypass_internal_proxy = []

[package.metadata.cargo-all-features]
denylist = ["actix-files", "actix-web", "leptos_actix"]
skip_feature_sets = [["csr", "ssr"], ["csr", "hydrate"], ["ssr", "hydrate"]]

[profile.release]
codegen-units = 1
lto = true

[profile.wasm-release]
inherits = "release"
opt-level = "z"
lto = true
codegen-units = 1

[package.metadata.leptos]
output-name = "lemmy-ui-leptos"
env = "DEV"
watch = false

bin-features = ["ssr"]
bin-default-features = false

lib-features = ["hydrate"]
lib-default-features = false
lib-profile-release = "wasm-release"

tailwind-input-file = "style/tailwind.css"
browserquery = "defaults"

site-root = "target/site"
site-pkg-dir = "pkg"
assets-dir = "public"
site-addr = "0.0.0.0:1237"
reload-port = 3001

end2end-cmd = "npx playwright test"
end2end-dir = "end2end"
