@import "tailwindcss" source("../src");

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    retro;
}

@custom-variant aria-current-page (&[aria-current="page"]);

@theme {
  --animate-color-cycle: color-cycle 6s linear infinite;

  @keyframes color-cycle {
    0%,
    100% {
      color: var(--color-red-400);
    }

    6% {
      color: var(--color-orange-400);
    }

    12% {
      color: var(--color-amber-400);
    }

    18% {
      color: var(--color-yellow-400);
    }

    24% {
      color: var(--color-lime-400);
    }

    30% {
      color: var(--color-green-400);
    }

    36% {
      color: var(--color-emerald-400);
    }

    42% {
      color: var(--color-teal-400);
    }

    48% {
      color: var(--color-cyan-400);
    }

    54% {
      color: var(--color-sky-400);
    }

    60% {
      color: var(--color-blue-400);
    }

    66% {
      color: var(--color-indigo-400);
    }

    72% {
      color: var(--color-violet-400);
    }

    78% {
      color: var(--color-purple-400);
    }

    84% {
      color: var(--color-fuchsia-400);
    }

    90% {
      color: var(--color-pink-400);
    }

    95% {
      color: var(--color-rose-400);
    }
  }
}

.grid-areas-post-listing {
  grid-template-areas:
    "title title thumbnail"
    "to to thumbnail"
    "vote actions thumbnail";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: min-content auto min-content;

  @variant sm {
    grid-template-areas:
      "vote thumbnail title"
      "vote thumbnail to"
      "vote thumbnail actions";
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: min-content min-content auto;
  }
}

.grid-in-vote {
  grid-area: vote;
}

.grid-in-title {
  grid-area: title;
}

.grid-in-to {
  grid-area: to;
}

.grid-in-thumbnail {
  grid-area: thumbnail;
}

.grid-in-actions {
  grid-area: actions;
}

.markdown-content {
  @apply bg-base-200 mt-4 p-5 rounded-sm space-y-4;

  h1 {
    @apply text-2xl font-black;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-black;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-black;
  }

  h6 {
    @apply text-lg font-bold;
  }

  code {
    @apply font-mono bg-neutral text-neutral-content p-1 rounded-md not-italic font-medium slashed-zero text-sm;
  }

  blockquote {
    @apply ps-1.5 pe-7 py-2 bg-base-300 border-s-4 border-info font-light text-sm italic relative  rounded-se-md rounded-ee-md break-all;

    code {
      @apply text-xs font-normal;
    }

    strong {
      @apply font-semibold;
    }

    em {
      @apply not-italic;
    }

    &:not(blockquote blockquote)::after {
      @apply bg-info block size-6 absolute end-1 bottom-1;
      content: " ";
      mask-image: url("/icons.svg#css-quote");
      -webkit-mask-image: url("/icons.svg#css-quote");
    }
  }

  ul {
    @apply list-inside list-disc;
  }

  ol {
    @apply list-inside list-decimal;
  }

  li {
    @apply my-1.5;
  }

  a {
    @apply text-accent font-medium;

    &:hover {
      @apply underline underline-offset-2;
    }
  }

  img {
    @apply max-w-full h-auto max-h-[40vh];

    &[title^="emoji"] {
      @apply inline w-16;
    }
  }

  hr {
    @apply border-secondary;
  }

  table {
    @apply table w-auto mx-auto shadow-lg rounded-md bg-base-100;
  }

  thead {
    tr {
      @apply bg-base-300;
    }

    th:not(:first-child) {
      @apply border-accent border-l-2;
    }
  }

  tbody {
    tr {
      @apply border-t-2 border-accent;
    }

    td:not(:first-child) {
      @apply border-accent border-l-2;
    }
  }

  summary {
    @apply flex justify-start cursor-pointer break-all;

    &::before {
      @apply bg-warning-content block size-6 min-w-6 min-h-6 me-1;
      content: " ";
      mask-image: url("/icons.svg#css-warning");
      -webkit-mask-image: url("/icons.svg#css-warning");
    }

    &::after {
      @apply bg-warning-content block size-6 min-w-6 min-h-6 ms-auto transition-transform;
      content: " ";
      mask-image: url("/icons.svg#css-caret");
      -webkit-mask-image: url("/icons.svg#css-caret");
    }
  }

  details {
    @apply bg-warning text-warning-content p-3 rounded-md;

    &[open] > summary {
      @apply mb-2;

      &::after {
        @apply rotate-180;
      }
    }
  }
}
